.css-1qnf7ss {
  padding-left: 0 !important;
}

.css-1o2jng6-MuiOutlinedInput-notchedOutline {
  border: none !important;
  border-bottom: 1px solid #999 !important;
  border-radius: 0 !important;
  margin: 8px !important;
}

.css-1laqsz7-MuiInputAdornment-root {
  position: absolute;
  right: 15px;
}

.chip-card {
  color: rgb(51, 51, 255) !important;
}

.MuiDropzoneArea-textContainer {
  text-align: center;
  position: absolute;
  top: 40%;
  bottom: 0;
  right: 0;
  left: 0;
  vertical-align: middle;
}
